*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
      
  

          /* media query Start */


  @media (max-width: 470px){
    .essential-button{
      margin-top:60%;
      margin-left: 20%;
    }
  }
  @media (max-width: 576px){ 
    .dont_miss_img{
      width: 300px;
      height: 300px;
    }
    .essential-button{
      margin-top:65%;
      margin-left: 20%;
    }
    #Footter-menun1 , #Footter-menun2{
      display: none;
    }
    
    #button-add-menu1 , #button-add-menu2{
      display:block ;
    }
  .swiper-button-prev{
    left: 65%;
    top: 10%;
  }
  .swiper-button-next{
    right: 10%;
    top: 10%;
   }
  .Guides-modal{
    bottom: 23%;
   }
  }
  @media (min-width: 576px) {
    .dont_miss_img{
      width: 380px;
      height: 380px;
    }
    .essential-button{
      margin-top:70%;
      margin-left: 20%;
    }
    #Footter-menun1 , #Footter-menun2{
      display: block;
    }  
    #button-add-menu1 , #button-add-menu2{
      display:none ;
    }
    .swiper-button-prev{
      left: 78%;
      top: 5%;
    }
    .swiper-button-next{
      right: 5%;
      top: 5%;
     }
   .Guides-modal{
      bottom: 10%;
     }   
     #button-open-menu1 , #button-open-menu2,
     #button-close-menu1 , #button-close-menu2{
      display:none;
     } 
  }

  @media (min-width: 768px) { 
    .essential-button{
      margin-top:80%;
    }
   }
  
  @media (min-width: 992px) {  
    .dont_miss_img{
      width: 500px;
      height: 500px;
    }
    
  }
  
  @media (min-width: 1200px) { 
    .dont_miss_img{
      width: 600px;
      height: 600px;
    }
    
   }

  @media (min-width: 1400px) { 
    .dont_miss_img{
      width: 700px;
      height: 700px;
    }

   }


          /* media query End */

          /* swipere slider style Start */


   .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 14px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 500px;
    margin: 20px auto;
  }

  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 0px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }

  .swiper-button-next{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #a1a1a1ae;
    color: black;
  
  }
  .swiper-button-prev{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #a1a1a1ae;
    color: black;
  }
  
  .circle-5{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7e7e7e;
  }

          /* swiper slider style End */


  .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;

  }
  #Essentials_container_button{
    width: 80px;
  }
  .essential-button{
   position: absolute;
   z-index: 99;
  margin-left: -60%;
  }
  .dont_miss_img{
    height: 100%;
    width: 100%;
  }
  .link{
    line-height: 40px;
  }
  .link > a{
   color: rgb(116, 118, 117);
   font-weight: 400;
  }
  .link > a:hover{
    color: black;
  }
  .hidden-menu{
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ;
  }
  .mother-menu:hover .hidden-menu{
    height: auto;
    visibility: visible;
    opacity: 1;
  }

            /* Footer styling Start */

  .Footer{
    position: relative;
    background-color: black;
  }
  .Footer-footer{
    font-size: 13px;
  }
  .menu{
    color: rgb(133, 133, 133);
  }
  .menu:hover {
    color: rgba(240, 248, 255, 0.888);
  }

  .icon-circle > svg{
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    font: inherit;
    font-size: 28px;
    line-height: 1.142857142857143;
    cursor: pointer;
    font-weight: 400;
    color: #7e7e7e;
    width: 30px;
    height: 30px;
    box-sizing: inherit;
    fill: #7e7e7e;
    transition: fill .2s;
  }
  .icon-circle :hover{
    fill: #fff;
    color: azure;
  }
  #button-open-menu1 , #button-open-menu2,
  #button-close-menu1 , #button-close-menu2 {
    cursor: pointer;
  }
  #button-close-menu1 , #button-close-menu2{
    visibility: hidden;
    position: absolute;
    right: 1px;
  }
  .terms{
    color: #878686;
  }
  .terms:hover{
    color: aliceblue;
    cursor: pointer;
  }
          /*  footer styling End */
          /* guides Modal start */

  .Guides-modal{
    padding: 8px;
    position: absolute;
    width:max-content ;
    text-align: center;
    visibility: hidden;
    border: 2px solid white;
    color:#878686;
    background-color: black;
    transition: opacity 600ms;
    opacity: 0;
    line-height: 30px;
  }
  .Guide-option:hover .Guides-modal {
   visibility: visible;
   opacity: 1;
  }
  
  .Guides-modal >div >div:hover{
  color: aliceblue;
  text-align: center;
  }

